<ion-header>
  <ion-toolbar>
    <ion-title>
      Cálculo do IMC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <p id="title">Cálculo</p>
  <p> Prencha os Campos abaixo para calcular seu IMC</p>
  <ion-item>
    <ion-input label="Peso" placeholder="Peso em kg"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Altura" placeholder="Altura em metros"></ion-input>
  </ion-item>
  <ion-button expand="block">Calcular</ion-button>
 

  
</ion-content>
